/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  min-height: 100%;
}

body {
  background-color: rgb(160, 142, 206);
  font-size: 62.5%;
  color: azure;
  min-width: 320px;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  inline-margin: 0 auto;
}

h1 {
  margin: 1.5rem 0 0 0;
  font-size: clamp(2.5rem, 10%, 5rem);
  font-weight: 700;
  text-align: center;
}

label {
  margin: .5rem;
  font-size: clamp(1.5rem, 10%, 3.8rem);
  font-weight: 700;
  text-align: center;
}

output {
  color: #F2E027;
  margin: 1rem 0 1rem 0;
  font-size: clamp(2.5rem, 10%, 5rem);
  font-weight: 700;
  text-align: center;
}

input {
  background-color: rgb(160, 142, 206);
  border: 3px solid rgb(193, 184, 214);
  border-radius: .3rem;
  height: 2.5rem;
  width: 50%;
  text-align: center;
  font-size: clamp(2rem, 10%, 4rem);
  color: #5A27F2;
  font-weight: 700;
}

input:focus {
  border-color: #7142FF;
  border-inline-color: #7142FF;
  outline: none;
}

#radio-lb, #radio-oz {
  border: none;
}

.price-wrap,
.quantity-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

/******************************************
/* UNIT BUTTONS
/*******************************************/

.container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.button-wrap {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: 2.5em;
}
@media (max-width: 40em) {
  .button-wrap {
    margin-top: 1.5em;
  }
}

.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929ab;
  border-radius: 0.25em;
  background: #efefef81;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button-label h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

#radio-lb:checked + .button-label,
#radio-oz:checked + .button-label {
  background: #7142FF;
  color: #efefef;
}
#radio-lb:checked + .button-label:hover,
#radio-oz:checked + .button-label:hover {
  background: #5A27F2;
  color: #e2e2e2;
}

.hidden {
  display: none;
}

/******************************************
/* FOOTER
/*******************************************/

.footer-wrap {
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1em;   
  padding: 1.5em;
  background: rgb(145, 116, 218);
  color: rgba(185, 186, 187, 0.5);
  width: 100%;
  border: 0;
}

  #footer > * {
    margin-bottom: 0;
  }

  #footer a {
    color: inherit;
  }

    #footer a:hover {
      color: #b9babb;
    }

  #footer ul.menu {
    margin: 0;
  }

    #footer ul.menu li {
      border-left-color: rgba(185, 186, 187, 0.2);
      font-size: 0.9em;
    }

  @media screen and (max-width: 1000px) {

    #footer {
      flex-direction: column;
      justify-content: space-between;
      line-height: 1.5em;
      text-align: center;
      padding: 2em 1em 2em 1em;
    }

      #footer > * {
        margin: 0 0 1em 0;
      }

  }

  @media screen and (max-width: 736px) {

    body {
      margin-bottom: 0;
    }

    .title {
      margin-top: -15vh;
    }

    .calc-wrapper {
      min-height: 75vh;
      display: flex;
    }

    footer {
      position: relative;
      height: 15vh;
    }

    #footer ul.menu li {
      border-left: none;
      display: block;
      line-height: inherit;
      margin: 0.25em 0 0 0;
      padding: 0.25em 0 0 0;
    }

      #footer ul.menu li:first-child {
        margin-top: 0;
        padding-top: 0;
      }

  }