/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: rgb(79,79,79);
  background: radial-gradient(circle, rgba(79,79,79,1) 21%, rgba(57,57,57,1) 100%);
  font-size: 62.5%;
  color: azure;
}

.wrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  inline-margin: 0 auto;
}

h1 {
  margin: 1rem 0 1rem 0;
  font-size: clamp(2.5rem, 10%, 5rem);
  font-weight: 700;
  text-align: center;
}

label {
  margin: 1rem 0 1rem 0;
  font-size: clamp(1.5rem, 10%, 3.8rem);
  font-weight: 700;
  text-align: center;
}

output {
  color: aquamarine;
  margin: 1rem 0 1rem 0;
  font-size: clamp(1.5rem, 10%, 3.8rem);
  font-weight: 700;
  text-align: center;
}

input, select {
  background-color: white;
  border: none;
}

input {
  height: 2rem;
  margin: .3rem 0;
}

#price {
  width: 50%;
}

#quantity {
  width: 40%;
}

select {
  width: 10%;
  height: 1.96rem;
  margin: 0;
  padding: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}